<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/yummy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yummy"
        android:supportsRtl="true"
        android:theme="@style/Theme.YummyFood"
        tools:targetApi="31">
        <activity
            android:name=".item.List_table_item"
            android:exported="false" />
        <activity
            android:name=".Fragment.MainActivityVoucher"
            android:exported="false" />
        <activity
            android:name=".Fragment.Voucher.voucher_item"
            android:exported="false" />
        <activity
            android:name=".qr_tinhtien_ban"
            android:exported="false" />
        <activity
            android:name=".scan_qr"
            android:exported="false" />
        <activity android:name=".Activity_Review_User" />
        <activity android:name=".Rate_Order_User" />
        <activity
            android:name=".DanhSachThanhVien"
            android:exported="false" />
        <activity
            android:name=".use_voucher_user"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity_dialog_oder" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@style/Theme.YummyFood" /> -->
        <activity
            android:name=".voucher_user"
            android:exported="false" />
        <activity
            android:name=".discount_user"
            android:exported="false" />
        <activity
            android:name=".history_table"
            android:exported="false" />
        <activity
            android:name=".me_user"
            android:exported="false" />
        <activity
            android:name=".ListFoodUser"
            android:exported="false" />
        <activity
            android:name=".user_policy"
            android:exported="false" />
        <activity
            android:name=".book_detail_tb"
            android:exported="false" />
        <activity
            android:name=".notification_user"
            android:exported="false" />
        <activity
            android:name=".policy_user"
            android:exported="false" />
        <activity
            android:name=".detail_table"
            android:exported="false" />
        <activity
            android:name=".ListTableActivity"
            android:exported="false" />
        <activity
            android:name=".edit_address"
            android:exported="false" />
        <activity
            android:name=".List_Food"
            android:exported="false" /><!-- Dung xoa may the activity neu khong loi -->
        <activity android:name=".admin.HomePage_Admin" />
        <activity android:name=".admin.Add_User" />
        <activity android:name=".admin.List_User" />
        <activity android:name=".admin.Edit_User" />
        <activity android:name=".admin.Add_Food" /> <!-- <activity android:name="" /> -->
        <activity android:name=".admin.Edit_Food" />
        <activity android:name=".admin.List_Confirm_Order" />
        <activity android:name=".admin.Profile_Admin" />
        <activity android:name=".admin.Dialog_Confirm_Logout_Admin" />
        <activity android:name=".admin.Confirm_Order_Details" />
        <activity android:name=".FoodDetailActivity" /> <!-- <activity android:name=".ActivityPaymentUser" /> -->
        <activity android:name=".CartActivity" />
        <activity android:name=".ActivityOrderStatus" />
        <activity android:name=".ActivityPaymentUser" /> <!-- Khanh 30/10/2024 -->
        <activity android:name=".Activity_History_Order" />
        <activity
            android:name=".activity_dialog_create_account"
            android:exported="false" />
        <activity
            android:name=".user_dialog_create"
            android:exported="false" />
        <activity
            android:name=".activity_register_user"
            android:exported="false" />
        <activity
            android:name=".Login_userActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomepageUserActivity"
            android:exported="true" />
        <activity
            android:name=".SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".flashsale_user"
            android:exported="false" />
        <activity
            android:name=".category_user"
            android:exported="false" />
        <activity
            android:name=".Profile_User"
            android:exported="false" />
    </application>

</manifest>