<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YummyFood"
        tools:targetApi="31">
        <!-- Dung xoa may the activity neu khong loi -->
        <activity android:name=".admin.HomePage_Admin" />
        <activity android:name=".admin.Add_User" />
        <activity android:name=".admin.List_User" />
        <activity android:name=".admin.Edit_User" />
        <activity android:name=".admin.Add_Food" />
<!--        <activity android:name="" />-->
        <activity android:name=".admin.Edit_Food" />
        <activity android:name=".admin.List_Confirm_Order" />
        <activity android:name=".admin.Profile_Admin" />
        <activity android:name=".admin.Dialog_Confirm_Logout_Admin" />
        <activity android:name=".admin.Confirm_Order_Details" />
        <activity android:name=".FoodRetailActivity" />
        <activity android:name=".ActivityPaymentUser" />
        <activity
            android:name=".activity_dialog_create_account"
            android:exported="false" />
        <activity
            android:name=".user_dialog_create"
            android:exported="false" />
        <activity
            android:name=".activity_register_user"
            android:exported="false" />
        <activity
            android:name=".admin.list_food.List_Food"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomepageUserActivity"
            android:exported="true" />
        <activity
            android:name=".SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".flashsale_user"
            android:exported="false" />
    </application>

</manifest>